@import '_variables';
@import '_mixins';

#connections {
  @include section;

  h2 {
    font-family: $font-fam;
  }
}

.container {
  width: 80%;
  box-sizing: border-box;
  padding: 2rem;
  margin: 0 auto;

  .flex-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .flex-card {
      flex-basis: 32%;
      margin: 5px 0;
      padding: 8px 16px;
      box-sizing: border-box;
      height: 8rem;
      background-color: #fff;
      border-radius: 10px;
      cursor: pointer;

      &:hover {
        background-color: darken(#fff, 12%);
      }

      .flex-card-icon {
        opacity: 0.7;
        font-size: 1.5rem;
      }
    }
  }
}
