/* RESET STYLES */
html,
body {
  height: 100%;
  margin: 0;
  font-family: 'Poppins';
}

ul, li {
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}


h1,h2,h3 {
  font-family: 'Poppins';
}
