/* SIZES */
$screen-height: 100vh;

$title-size-m: 1.4rem;



/* COLORS */
$bg-color1: #fff;
$bg-color2: #f1f1f1;

$font-color1: #030520;
$font-color2: #595e63;

$shadow-color1: #e8e8e8;


/* FONTS */
$font-fam: 'Poppins';
